<!-- Use this for a dark themed website. -->
<div class="socialDark">
	<div id="social">
		<a href="#"><span class="fab fa-facebook"></span></a>
		<a href="#"><span class="fab fa-twitter"></span></a>
		<a href="#"><span class="fab fa-soundcloud"></span></a>
		<a href="#"><span class="fab fa-instagram"></span></a>
		<a href="#"><span class="fab fa-youtube"></span></a>
		<a href="#"><span class="fab fa-snapchat"></span></a>
	</div>
</div>
