<!-- Use this for a dark themed website. -->
<div class="socialDark">
	<div id="social">
		<a href="#"><i class="fa fa-facebook-square"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-soundcloud"></i></a>
		<a href="#"><i class="fa fa-instagram"></i></a>
		<a href="#"><i class="fa fa-youtube"></i></a>
	</div>
</div>
