<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="navigationBar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">Teams</a></li>
        <li><a href="#band">About</a></li>
        <li><a href="#tour">Contact</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-thumbs-up"></i> Collaboration</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"><i class="fa fa-user"></i> Profile </a>
       </li>

      <!-- ###  Keep it here in case I will need a dropdown menu. ### -->
      <!-- <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Merchandise</a></li>
          <li><a href="#">Extras</a></li>
          <li><a href="#">Media</a></li>
        </ul>
      </li> -->
      <!-- <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li> -->
      </ul>
    </div>
  </div>
</nav>
