#social {
	padding: 15px 0;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: default;
	text-align: center;
	a {
		display: inline-flex;
		width: 42px;
		height: 42px;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		transition: 0.2s ease;
	}
}

// DARK THEME
.socialDark {
	background: #333;
	#social {
		&:hover a {
			opacity: .5;
		}
		a {
			color: #eee;
			&:hover {
				opacity: 1;
			}
		}
	}
}


// DON'T NEED THESE BUT HAVE IT THERE FOR THE FOOTER TO DISPLAY TEMPORARILY
body {
	background: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 150vh;
	.socialLight {
		margin-bottom: 30px;
	}
}
